shared-workspace-lockfile=false
registry=https://hy-dev-npm.pkg.coding.net/ZXNB/npm/
always-auth=true
//hy-dev-npm.pkg.coding.net/ZXNB/npm/:username=npm-1713341316886
//hy-dev-npm.pkg.coding.net/ZXNB/npm/:_password=MDEyMDdmOGFlZWE2YWYzMjI5Y2U0MWM1NWRkNjU0ODU0ZjY1Mzk1Ng==
//hy-dev-npm.pkg.coding.net/ZXNB/npm/:email=millionkn@sina.com